{% extends "home.html" %}

{% block title %}Delete task{% endblock %}

{% block content %}
<div style="margin: 10px">
    <form action="{{ url_for('delete_task', pk=task.id) }}" method="post">
        <div class="col-sm-3">

            <label for="colName">name:</label>
            <input class="form-control form-control-sm" type="text" readonly name="name" id="colName" value= {{task.name}}>

            <label for="colDesc">description:</label>
            <textarea class="form-control form-control-sm"  readonly name="description" id="colDesc">{{task.description}} </textarea>
            <label for="colDate">expiration date:</label>
            <input class="form-control form-control-sm"  type="date" readonly name="expiration_date" id="colDate" value= {{task.expiration_date}}>
            <label for="colStatus">status:</label>
            <input type="checkbox" name="done" id="colStatus" onclick="return false" {% if task.done %} checked {% endif %}>
            <div style="color:blue; font-size:16px">Are you shure want to del this task?</div>
            <div style="float:right">
                <button class="btn btn-primary">DEL</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}