{% extends "home.html" %}

{% block title %}All tasks{% endblock %}

{% block content %}

    <table class="table table-hover" style="margin: 10px; width:80%;">
        <caption style="font-size:20px">All my tasks</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date exp</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <th>{{ task.id }}</th>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.expiration_date }}</td>
                <td>
                    <input type="checkbox" onclick="return false;" {% if task.done %} checked {% endif %}>
                </td>
                <td><a class="btn btn-primary" href={{ url_for('update_task', pk=task.id) }} >edit</a></td>
                <td><a class="btn btn-primary" href={{ url_for('delete_task', pk=task.id) }} >del</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}