{% extends "home.html" %}

{% block title %}Update task{% endblock %}

{% block navbar %}
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" " href={{ url_for('add_task') }}>Add</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">Upd</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={{ url_for('list_tasks') }}>All Tasks</a>
  </li>
</ul>
{% endblock %}

{% block content %}
<div style="margin: 10px">
    <form action="{{ url_for('update_task', pk=task.id) }}" method="post">
        <div class="col-sm-3">
            <label for="colName">name:</label>
            <input class="form-control form-control-sm" type="text" name="name" id="colName" value= {{task.name}}>

            <label for="colDesc">description:</label>
            <textarea class="form-control form-control-sm" name="description" id="colDesc" > {{task.description}}</textarea>

            <label for="colDate">expiration date:</label>
            <input class="form-control form-control-sm" type="date" name="expiration_date" id="colDate" value= {{task.expiration_date}}>

            <div class="form-check form-switch">
                <label for="colStatus">status</label>
                <input class="form-check-input" type="checkbox" name="done" id="colStatus"  {% if task.done %} checked {% endif %}>
            </div>
            <div style="float:right">
                <button class="btn btn-primary">UPD</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}