{% extends "home.html" %}

{% block title %}Add new task{% endblock %}

{% block content %}
    <div style="margin: 10px">
          <form action="{{ url_for('add_task') }}" method="post">
            <div class="col-sm-2">
                <h3>Create new task</h3>
                <input class="form-control form-control-sm" type="text" name="name"  placeholder="task name" aria-label=".form-control-sm example">
                <textarea class="form-control form-control-sm" name="description" placeholder="description" aria-label=".form-control-sm example"></textarea>
                <input class="form-control form-control-sm" type="date" name="expiration_date" placeholder="expiration date" aria-label=".form-control-sm example">
               <div style="float:right">
                   <button class="btn btn-primary" >Add</button>
               </div>
            </div>

          </form>
    </div>
{% endblock %}
