body {
    background: antiquewhite;

}

.picture {
    margin-bottom: 20px;
    background: gray;
    height: 350px;
    justify-content: center;
    display: flex;
    padding: 60px 20px;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-image: url(images/фон.jpg);
    background-repeat: no-repeat;
    width: 30%;
    background-size: cover;
}