{% extends "home.html" %}

{% block title %}Add User page{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {{ user.password }}
                </td>
                <td>
                    <a class="btn btn-primary" href={{ url_for('update_user', pk= user.id) }} role="button">edit</a>
                </td>
            </tr>
            <option value="">{{ user.email }}</option>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
